*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.container{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg, #153677, #4e085f);
    padding: 10px;
}

.todo-app{
    width: 100%;
    max-width: 540px;
    background: #fff;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
}

.todo-app h2{
    color: #002765;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.todo-app h2 img{
    width: 30px;
    margin-left: 10px;
}

.row{
    display: flex;
    margin-top: 10px;
    align-items: center;
    border-radius: 30px;
    background: #edeef0;
}

.row #input-box{
    width: 450px;
    height: 50px;
    border-radius: 25px;
    border: none;
    border-right: transparent;
    padding-left: 35px;
    font-size: 17px;
    background-color: transparent;
    outline: none;
}

#addbtn{
    position: absolute;
    width: 100px;
    height: 50px;
    border-radius: 25px;
    align-items: center;
    margin-left: 380px;
    color: #fff;
    background-color: #ff5945;
    border: 2px solid #ff5945;
    font-size: 17px;
    cursor: pointer;
}

#addbtn :hover{
    transform: scale3d(1.5,1.5,1.5);
    color: #002765;
}

ul li{
    position: relative;
    list-style-type: none;
    font-size: 17px;
    padding: 20px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
}

ul li::before{
    content:'';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url(images/unchecked.png);
    background-size: cover;
    background-position: center;
    top: 16px;
    left: 0px;
}

ul li span{
    position: absolute;
    right: 0;
    top: 12px;
    width: 40px;
    height: 40px;
    font-size: 25px;
    color: #555;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}

ul li span:hover{
    background-color: #edeef0;
}

ul li.checked{
    color: #555;
    text-decoration: line-through;
}

ul li.checked::before{
    background-image: url(images/checked.png);
}

h3{
    color: #002765;
    padding-top: 50px;
}

#list-img{
    padding-top: 12px;
    /* padding-left: 30px; */
}

#scan{
    margin-top: 12px;
    width:100px;
    padding: 10px;
    /* margin-left: 60px; */
    background-color: #ff5945;
    border: 2px solid #ff5945;
    border-radius: 5px;
    cursor: pointer;
}